.Espaco{
    display: flex;
    align-items: center;
    background-color: rgb(48, 48, 48);
    height: 100vw;
    flex-direction: column;
}
.Imagem {
    margin-top: 5vw;
    flex: 1;
    width: 95%;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}
.Conteudo{ 
    width: 95%;
    flex: 1;
    background-color: white;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    margin-bottom: 1vw;
}
#imagem-Gow{
    background: url("../../images/CapaGow.jpg") no-repeat;
    background-size: 75vw;
}
#imagem-DaysGone{
    background: url("../../images/DaysgonePainel.jpg") no-repeat;
    background-size: 78vw;
}
#imagem-Ghost{
    background: url("../../images/Ghost_Poster.jpg") no-repeat;
    background-size: 75vw;
}
#titulo {
    margin-top: 4vw;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',cursive   ;
    color: #504f4f;
}
#subtitulo{
    text-align: left;
    margin-left: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    color: #5e5e5e;
    margin-bottom: 3vw;
}
#texto{
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
    color: #5e5e5e;
    font-size: 1.6vw;
    margin-bottom: 3vw;
}